@model FirmaCurierat.Models.Comanda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expeditor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expeditor.Id_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatar.Id_client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaRidicare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresaRidicare.Id_adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresaLivrare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresaLivrare.Id_adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curier)
        </dt>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_hub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_hub)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_comanda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
