@model IEnumerable<FirmaCurierat.Models.Comanda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expeditor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresaRidicare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresaLivrare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_hub)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expeditor.Id_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destinatar.Id_client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresaRidicare.Id_adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresaLivrare.Id_adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_hub)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_comanda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_comanda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_comanda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
